.server-nav-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.server-nav-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  padding-right: 0px;
  overflow: hidden;
  padding-top: 12px;
  background-color: #202225;
  height: 100%;
  width: 72px;
  box-sizing: border-box;
}

.server-nav-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  background-color: #36393f;
  color: #dcddde;
  transition: background-color .15s ease-out, color .15s ease-out, border-radius .15s ease-out;
  margin-bottom: 8px;
}

.server-nav-button:hover {
  color: white;
  background-color: #5865f2;
  border-radius: 35%;
}

.server-nav-button:focus {
  color: white;
  background-color: #5865f2;
  border-radius: 35%;
}

.server-nav-icon-button {
  font-size: 25px;
}

.seperator {
  margin-bottom: 8px;
  height: 2px;
  width: 32px;
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 0.06);
}

.server-misc-button {
  color: #3ba55d;
  font-size: 22px;
}

.server-misc-button:hover {
  color: white;
  background-color: #3ba55d;
}